[submodule "Dependencies/GWCA"]
	path = Dependencies/GWCA
	url = https://github.com/3vcloud/GWCA.git
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
