---
---

@import "{{ site.theme }}";
.button-left {float: left; margin-left: 6px;}
#header nav {max-width: 1080px;margin: 0 auto;padding: 0 10px;background: blue;margin: 6px auto;}
.wrapper {max-width: 1080px;margin: 0 auto;position: relative;padding: 0 20px;}
section {max-width: 1080px;padding: 30px 0px 50px 0px;margin: 20px 0;margin-top: 70px;}
code {font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;color: #efefef;font-size: 13px; margin: 0 0px; padding: 0px 0px; border-radius: 2px;}
body {padding: 0px 0 20px 0px;margin: 0px;font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #f0e7d5;font-weight: normal;background: #0f0f0f;background-attachment: fixed !important;background: linear_gradient(#2a2a29, #1c1c1c);}
#header nav li a { color: white; border: 1px solid #ae480a; background: linear_gradient(#e4741f, #b6550f); border-radius: 2px; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7); background-color: #e4741f; padding: 10px 12px; margin-top: 6px; line-height: 14px; font-size: 14px; display: inline-block; text-align: center; }
#header nav li a:hover { background: linear_gradient(#c54d18, #a3360d); background-color: #b6550f; border: 1px solid #a3360d; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px transparent; }
a {color: #e4741f; font-weight: 400; text-decoration: none;}
a:hover {color: #b6550f;}
blockquote {border-left: 3px solid #e4741f;margin: 0;padding: 0 0 0 20px;font-style: italic;}
figure { float:right; margin:6px; padding: 6px; text-align:center; background-color: #353535; }
